@inherits LayoutComponentBase

<div class="page" style="height:100%">
    <div class="sidebar" style="width:0px">
        @*<NavMenu />*@
    </div>

    <div class="main" style="height:100%">

        @Body
    </div>
</div>
